
*{
    margin: 0;
    padding: 0;
}
/* navbar */
.main-content{
    position: sticky !important;
    top: 0;
}

#navbar-color{
    background-color:#f4f4f4;
    color: black;
}
.dropdown-item{
    background-color:#f4f4f4;
    color: black;
}
.dropdown-menu{
    padding:0px;
    z-index: 1000;
}
.navbar-nav{
    margin: auto;
}
.nav-link{
    margin-left: 30px;
    font-weight: bold;
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
}
.nav-link:hover{
    color:#DFBAA7;
}
#btn-taskbar{
    background-color: #DEC79B;
    margin-left:0px;
}
/* navbar */
/* main content */
/* content */

/* main content */

/* card1 */
#btn2 button{
    width: 100px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn2 button:hover{
    background-color: rgba(238,224,208);
}
/*về chúng tôi*/

.box-banner-inf{
    width:100%;
    height:100%;
    background-image: 
    linear-gradient(0,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url(../Image/về\ chúng\ tôi.webp);
}
#button_page1{
    text-decoration: none;
    border:1px black ;
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
   width:50px;
   height:30px;
   padding: 5px;
}
 #button_page1 :hover{
    border:1px black;
    background-color: rgba(0, 0, 0, 0) ;
    color: black;
}
h2.title{
    font-size:35px;
    margin-top:250px;
}
#text-trangvechungtoi{
    padding: 20px 60px;
    font-size: 11px;
    text-align: justify;
    background-color: #f4f4f4;
    color: black;
}
