
*{
    margin: 0;
    padding: 0;

}

/* navbar */
.header-1{
    overflow:visible;
    position:static ;
}
nav{
    position: sticky !important;
    top: 0;
    Z-index:1010;
}
#navbar-color{
    background-color:#f4f4f4;
    color: black;
}
.dropdown-item{
    background-color:#f4f4f4;
    color: black;
}
.dropdown-menu{
    padding:0px;
    z-index: 1000;
}
.navbar-nav{
    margin: auto;
}
.nav-link{
    margin-left: 30px;
    font-weight: bold;
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
}
.nav-link:hover{
    color:#DFBAA7;
}
#btn-taskbar{
    background-color: #DEC79B;
    margin-left:0px;
}

#btn2 button{
    width: 100px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn2 button:hover{
    background-color: rgba(238,224,208);
}
/*về chúng tôi*/




h2.title{
    font-size:35px;
    margin-top:250px;
}
#text-trangvechungtoi{
    padding: 20px 60px;
    font-size: 11px;
    text-align: justify;
    background-color: #f4f4f4;
    color: black;
}
.flex-container-information{
    margin: 0 -15px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.wrap-pd-infor.box_stick {
    position: -webkit-sticky;
    position: sticky ;
    max-height: 100vh;
    top: 0;
    border-right: 1px solid #ededed;
}

